// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
        height: 700px;
        width: auto;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.gm-style-iw {
  color: black;
}

.gm-style {
  background-position: center;
}

  header.hero .hero-body .hero-text h1 {
    font-size: 68px;
    font-family: papyrus;
  }

#textlist {
  float: left;
  display: inline;
}
