
<div id="app">
  <!-- STRENGTHS SECTION START: Map Section -->
    <section id="strengths"> 
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="divider center"></span>

                        <h2 class="section-title">Welcome to Finding History</h2>

                        <p class="section-subtitle">Your journey begins below</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <div class="row">
                    <div class="col-md-12">

                        <div id="map"></div>
                        <!-- //COLUMN CHART END -->

                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //STRENGTHS SECTION END -->
    
</div>



    <!-- <div id="map"></div> -->

    <script src="https://maps.googleapis.com/maps/api/js"
    async defer></script>