<% if current_user %>
<h1>Hello, <%=current_user.first_name %>!</h1>
<% end %>

<div id="app">
  {{ message }}
  <div v-for="location in locations">{{location.current_name}}
  </div>
</div>



    <div id="map"></div>
    <script>

      

     
    </script>
    <script src="https://maps.googleapis.com/maps/api/js"
    async defer></script>